body {
    background-image: url("https://cdn.pixabay.com/photo/2020/08/09/14/25/business-5475664_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {

    text-align: center;
    padding: 25px;

}

#caja-principal {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding-left: 35px;
    padding-bottom: 35px;
    padding-right: 25px;

}

#body {
    background-color: #cccccc24;
    padding: 25px;
}

/* Formulario */


#label-ingresar {
    margin-bottom: 10px;
}

#label-retirar {
    margin-top: 10px;
    margin-bottom: 10px;
}

input[type=text] {
    width: 100%;
}

input[type=submit] {
    margin-top: 25px;
    width: 100%;
    border: 0px;
    background-color: #0099946e;
    padding: 8px;

}

#php {
    padding-top: 30px;
    font-family: monospace;
    text-align: center;
}